wxPython==4.2.1
pyecharts==2.0.5
pandas==2.2.1
psutil==6.0.0
# loguru==0.7.2
# keyboard==0.13.5
scipy==1.11.2
scikit-learn==1.4.2
# torch==2.2.2
chardet==5.2.0
PyPubSub==4.0.3
pyinstaller==6.6.0
aui2==0.1.4
# sqlalchemy==2.0.25
# PyMySQL==1.1.0
# cefpython3==66.1
docxcompose==1.4.0
docxtpl==0.16.8
requests==2.21.0
blinker==1.6.3
